body {
  background-color: #fdbb2d;
}

.header {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border: 1px solid black;
}
.player-container {
  display: grid;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px; 
  border: 1px solid black;

}

.player-item {
  text-align: center;
}

h2 {
  text-align: center;
}

.details {
  text-align: center;
}

img {
  max-width: 600px;
}