body {
  background-color: rgb(58, 57, 57);
}

.player-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 20px; /* Adjust the gap between items as needed */
}

.player-item {
  text-align: center;
}

